section#candidatoPainel.panel.panel-grid
  #candidatoLoading.loading-div(style="")
    .loading-rotate
    .loading-title
  if targetUser
    aside.user-panel-info(style=targetUser ? "" : "none")
      fieldset.user-fieldset
        .field
          label(for='ensino') Ensino
          p#targetUser-ensino.target-info(name='ensino')= targetUser.ensino
        .field
          label(for='cursos') Cursos
          p#targetUser-cursos.targetUser-cursos.target-info(name='cursos')= targetUser.curso
    .panel-perfil
      img.panel-perfil-pic.profileLink.targetUser-_id.targetUser-imagem(src=`${targetUser.imagem}` alt='foto de perfil' draggable='false' onclick="window.location.replace('https://pi.pedrogxv.repl.co/user-home#candidatoProfile')" value=`${targetUser._id}`)
      .panel-perfil-actions
        .panel-perfil-actions-info
          h2#targetUser-nome.target-info(name="nome")= targetUser.nome
          p#targetUser-idade.target-info(name="idade") #{targetUser.idade} Anos
          div
            p#targetUser-descricao.description.target-info(name="descricao" style="margin: 15px 0")= targetUser.descricao
        .panel-perfil-actions-btns
          button.btn.btn-rounded.btn-borderless.btn-shadow#target-action-up(value=`${targetUser._id}`)
            svg.iconBtn-bigger.iconBtn-noradius.icon-green(xmlns='http://www.w3.org/2000/svg'  fill='currentColor' viewbox='0 0 16 16')
              path(d='M16 8A8 8 0 1 0 0 8a8 8 0 0 0 16 0zm-7.5 3.5a.5.5 0 0 1-1 0V5.707L5.354 7.854a.5.5 0 1 1-.708-.708l3-3a.5.5 0 0 1 .708 0l3 3a.5.5 0 0 1-.708.708L8.5 5.707V11.5z')
          button.btn.btn-borderless.btn-rounded.targetUser-_id#target-star(value=`${targetUser._id}`)
            svg.iconBtn-big(xmlns='http://www.w3.org/2000/svg' fill='goldenrod' viewbox='0 0 16 16')
              path(d='M2.866 14.85c-.078.444.36.791.746.593l4.39-2.256 4.389 2.256c.386.198.824-.149.746-.592l-.83-4.73 3.522-3.356c.33-.314.16-.888-.282-.95l-4.898-.696L8.465.792a.513.513 0 0 0-.927 0L5.354 5.12l-4.898.696c-.441.062-.612.636-.283.95l3.523 3.356-.83 4.73zm4.905-2.767-3.686 1.894.694-3.957a.565.565 0 0 0-.163-.505L1.71 6.745l4.052-.576a.525.525 0 0 0 .393-.288L8 2.223l1.847 3.658a.525.525 0 0 0 .393.288l4.052.575-2.906 2.77a.565.565 0 0 0-.163.506l.694 3.957-3.686-1.894a.503.503 0 0 0-.461 0z')
          button.btn.btn-rounded.btn-shadow.btn-borderless#target-action-down(value=`${targetUser._id}`)
            svg.bi.bi-arrow-down-circle-fill.iconBtn-bigger.icon-red(xmlns='http://www.w3.org/2000/svg' fill='currentColor' viewbox='0 0 16 16')
              path(d='M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zM8.5 4.5a.5.5 0 0 0-1 0v5.793L5.354 8.146a.5.5 0 1 0-.708.708l3 3a.5.5 0 0 0 .708 0l3-3a.5.5 0 0 0-.708-.708L8.5 10.293V4.5z')
    aside.user-panel-info
      fieldset.user-fieldset
        label(for='experiencia') Experi&ecirc;ncia
        p#targetUser-experiencia.target-info(name='experiencia')= targetUser.experiencia
      .perfilInfo-bottom
        button#targetUser-apresentacao.btn.btn-gold.btn-opacity.btn-translatey
          svg.bi.bi-camera-video.iconBtn-big(xmlns='http://www.w3.org/2000/svg' fill='currentColor' viewbox='0 0 16 16')
            path(fill-rule='evenodd' d='M0 5a2 2 0 0 1 2-2h7.5a2 2 0 0 1 1.983 1.738l3.11-1.382A1 1 0 0 1 16 4.269v7.462a1 1 0 0 1-1.406.913l-3.111-1.382A2 2 0 0 1 9.5 13H2a2 2 0 0 1-2-2V5zm11.5 5.175 3.5 1.556V4.269l-3.5 1.556v4.35zM2 4a1 1 0 0 0-1 1v6a1 1 0 0 0 1 1h7.5a1 1 0 0 0 1-1V5a1 1 0 0 0-1-1H2z')
          |                     Apresenta&ccedil;&atilde;o
        button#targetUser-curriculo.btn.btn-white.btn-opacity.btn-translatey
          svg.bi.bi-briefcase.iconBtn-big(xmlns='http://www.w3.org/2000/svg' fill='currentColor' viewbox='0 0 16 16')
            path(d='M6.5 1A1.5 1.5 0 0 0 5 2.5V3H1.5A1.5 1.5 0 0 0 0 4.5v8A1.5 1.5 0 0 0 1.5 14h13a1.5 1.5 0 0 0 1.5-1.5v-8A1.5 1.5 0 0 0 14.5 3H11v-.5A1.5 1.5 0 0 0 9.5 1h-3zm0 1h3a.5.5 0 0 1 .5.5V3H6v-.5a.5.5 0 0 1 .5-.5zm1.886 6.914L15 7.151V12.5a.5.5 0 0 1-.5.5h-13a.5.5 0 0 1-.5-.5V7.15l6.614 1.764a1.5 1.5 0 0 0 .772 0zM1.5 4h13a.5.5 0 0 1 .5.5v1.616L8.129 7.948a.5.5 0 0 1-.258 0L1 6.116V4.5a.5.5 0 0 1 .5-.5z')
          |                     Ver curr&iacute;culo
  else
    .flex.direction-column(style="gap: 6px")
      h2 Nenhum candidato encontrado
      h4(style="color: orange; margin: 15px 0;") O que fazer?
      ul.flex.direction-column(style="margin-left: 20px; gap: 6px;")
        li Inicie uma nova busca.
        li Já iniciou uma nova busca? Então significa que não foram encontrados candidatos nas areas de interesse selecionadas.